.game-holder
	#game
		.game-menu
			.game-menu-item.game-menu-item--menu
			.game-menu-item.game-menu-item--levels
		.game-controls
			.game-control.game-control--undo
			.game-control.game-control--reset
		.game-content
	#screens