doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width")
    meta(name="format-detection", content="telephone=no")

    title Squares

    link(rel="stylesheet", href="css/main.css")

  body

    #controls
    #game
    
    script( src="js/vendor/greensock/easing/EasePack.min.js" )
    script( src="js/vendor/greensock/plugins/CSSPlugin.min.js" )
    script( src="js/vendor/greensock/TweenLite.min.js" )
    script( src="js/vendor/domify.js" )
    script( src="js/vendor/underscore-min.js" )
    script( src="js/vendor/Emitter.js" )
    script( src="js/vendor/requestAnimationFrame.js" )
    script( src="js/vendor/done.js" )
    script( src="js/app.js" )



