@import "nib"
@import "mixins/mixins"

bgBlue()
  background #3bb1ca url( "imgs/repeat-blue.png" ) repeat
  background-size 18px 22px

html, body
  background-color #f0f
  margin 0
  padding 0
  width 100%
  height 100%
  position relative
  bgBlue()
  overflow hidden

size = 64px
cols = 5
lines = 6

#menu
  position absolute
  width 100%
  height 100%
  background #72559e url( "imgs/repeat-purple.png" ) repeat
  background-size 18px 22px

.menu-logo
  position relative
  height 280px
  bgBlue()

.menu-logo-img
  position relative
  bg( "logo.png" )
  margin 0 auto
  top 40px

.menu-actions
  position relative
  margin 0
  padding 0
  margin-top 30px

.menu-action
  list-style none

.menu-action--play
  bg( "play.png" )
  margin 0 auto

.menu-action--challenge
  bg( "challenge.png" )
  margin 0 auto

.game-holder
  position absolute
  width 100%
  height 100%

#game
  position absolute
  width size * cols
  height 100%
  left 50%
  transform translateX( -50% )
  text-align center
  opacity 0

.game-content
  position absolute
  top 75px
  width 100%
  height size * lines

.game-menu
  position absolute
  width 100%

.game-menu-item--menu
  bg( "bt-menu.png" )
  position relative
  top 25px
  left 25px

.game-menu-item--levels
  bg( "bt-levels.png" )
  position absolute
  top 20px
  right 22px
  z-index 3

.game-controls
  position absolute
  display inline-block
  bottom 40px
  left 0
  width 100%
  z-index 1

.game-control--reset
  display inline-block
  bg( "bt-reset.png" )

.game-control--undo
  display inline-block
  bg( "bt-undo.png" )
  margin-right 180px

#levels
  position absolute
  width 100%
  height 100%
  bgBlue()
  z-index 2 !important
  .bt-back
    position relative
    left 20px
    top 15px
    bg( "bt-back.png" )

.levels-entries
  display block
  overflow hidden
  position relative
  top 25px
  left 7px

.levels-entry
  bg( "bg-level-list.png" )
  font normal 20px/45px "pacificoregular"
  color #fff
  float left
  margin-right 5px
  &.selected
    bg( "bg-level-list-current.png" )
  &.deactivate
    opacity .25

#screens
  position absolute
  width 100%
  height 100%
  text-align center
  display table
  pointer-events none

.screen
  display table-cell
  vertical-align middle
  color #fff
  font normal 25px/30px "open_sansextrabold"
  text-shadow 3px 6px rgba( 15, 114, 146, .5 )
  text-transform uppercase
  bgBlue()
  strong
    font-family "pacificoregular"
    color #f9e36a
    text-transform none

.level
  position relative
  width 100%
  height 100%
  opacity 0

.elt
  position absolute
  width size
  height size
  transform-origin 50% 50%
  opacity 0
  backface-visibility hidden

.elt-desc
  position absolute
  left 50%
  top 50%
  transform-origin 50% 50%
  backface-visibility hidden

.elt-desc--arrow
  s = size / 8
  bg( "arrow.png" )
  margin-left -9px
  margin-top -12px
  // border-top s solid transparent
  // border-bottom s solid transparent
  // border-left s solid #000
  // margin-left - (s / 2)
  // margin-top - (s / 2) - 1px
  // transform translateX( -40% ) translateY( -40% )

.elt-desc--circle
  width (size / 2)
  height (size / 2)
  border-radius (size / 2)
  transform translateX( -50% ) translateY( -50% )

.square
  z-index 1 !important

.square--a
  bg( "square-a.png" )

.goal--a .elt-desc
  bg( "goal-a.png" )

.square--b
  bg( "square-b.png" )

.goal--b .elt-desc
  bg( "goal-b.png" ) 

.square--c
  bg( "square-c.png" )
  // .elt-desc
  //   margin-top -18px

.goal--c .elt-desc
  bg( "goal-c.png" )